{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <!-- <link rel="stylesheet" href="{% static 'debug.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css">
    <style>
    	.leaflet-container{
    		height: 500px;
    	}
    </style>
    <title>nmmis</title>
</head>

<body>
    <div id="wrapper"></div>
    <script src="{% static 'client/index.js' %}"></script>
</body>

</html>